/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    background-color: #212229;
} */

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #11101d;
    padding: 15px;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.item a {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navbar,
.main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.close~.navbar,
.sidebar.close~.main {
    left: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: #212229;
    cursor: pointer;
}

.navbar #sidebar-close {
    cursor: pointer;
}

.main {
    position: relative;
    z-index: 100;
    background: #e7f2fd;
    background-color: #212229;
    height: 100vh;
}

.main h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 7%;
}

.tabela-ranking {
    background-color: #ffffffe0;
    width: 60%;
    height: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px #000000a0;
    padding: 20px;
    color: black;
    margin: auto;
    margin-top: 5%;
}

.tabela-ranking .titulos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.tabela-ranking .titulos span {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-ranking .infos {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow: scroll;
}

.tabela-ranking .infos::-webkit-scrollbar {
    display: none;
}

.tabela-ranking .infos .nome,
.acertos,
.pontuacao,
.jogador {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}