/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    background-color: #212229;
} */

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #11101d;
    padding: 15px;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.item a {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navbar,
.main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.close~.navbar,
.sidebar.close~.main {
    left: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: #212229;
    cursor: pointer;
}

.navbar #sidebar-close {
    cursor: pointer;
}

.main {
    position: relative;
    z-index: 100;
    background: #e7f2fd;
    background-color: #212229;
}

.main h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 7%;
}

.main p {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin-left: 24%;
    padding-top: 5%;
}

.jogadores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-inline: 2%;
}

.jogador1 {
    flex-basis: auto;
    margin-inline: 1%;
    margin-top: 1%;
}

img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.btn-enviar {
    font-size: 15px;
    cursor: pointer;
    background: white;
    color: black;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    margin-top: 15px;
    border: 1px solid black;
    margin-left: 2%;
}

.btn-enviar:hover {
    background-color: #ccc;
    transition: 0.5s;
}

.btn-votar {
    all: unset;
    cursor: pointer;
    outline: revert;
}

img {
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}

.img-reduzida {
    width: 210px;
    height: 210px;
    transition: 0.5s;
    transform: scale(1.1);
}